@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Matha Capital Auction System</h1>
</div>
<div class="row">
    <div class="container">
        <h2>Welcome to Matha Capital Auction System</h2>
        <p>
            MathaRX is a simple application that
            stores auction bids and automatically select winners
            based on best rates and amount bid..
        </p>
    </div>
</div>
