
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">

    <h2>Import Bids via Excel </h2>
    <p>This page allows you to upload a set of bids into the database from an excel sheet. Only *.xlsx files will be accepted.</p>

</div>

<div class="container">

    <div class="col-md-6">
        <form asp-controller="Import" asp-action="UploadExcel" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" class="form-control" id="fileUpload" />
                <input type="submit" onclick="return validate();" value="Import"/>
            </div>
        </form>
    </div>

    <p class="alert-success">@ViewData["Message"]</p>

    <script type="text/javascript">
        function validate() {
            var file = form.file.value;
            var reg = /(.*?)\.(xlsx)$/;
            if (!file.match(reg) {
                alert("Invalide file type! Only import .xlsx files");
                return false;
            }

        }
    </script>
</div>