
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">

    <h2>Import Bids via Excel </h2>
    <p>This page allows you to upload a set of bids into the database from an excel sheet. Only *.xlsx files will be accepted.</p>

</div>

<div class="container">
    <script type="text/javascript">
        function validate(fld) {
            if (!/(\.xlsx)$/i.test(fld.value)) {
                alert("Invalide file type!");
                fld.form.reset();
                fld.focus();
                return false;
            }
            return true;
        }
    </script>
    <div class="col-md-6">
        <form asp-controller="Import" asp-action="UploadExcel" method="post" enctype="multipart/form-data" onsubmit="validate(this.file)">
            <div class="form-group">
                <input type="file" name="file" class="form-control" onchange="return validate(this);" /><br />
                <input class="btn btn-primary" type="submit" value="Import" />
            </div>
        </form>
    </div>

    <p class="alert-success">@ViewData["Message"]</p>


</div>