
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">

    <h2>Import Bids via Excel </h2>
    <p>This page allows you to upload a set of bids into the database from an excel sheet. Only *.xlsx files will be accepted.</p>

</div>

<div class="container">

    <form asp-controller="Import" asp-action="UploadExcel" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" class="form-control" name="file" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                Import
            </button>
        </div>
    </form>
</div>