
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">

    <h2>Imported Bids via Excel </h2>

</div>

<div class="container">
    <a asp-action="Index">Back to Upload Page</a>
    <p class="alert-success">@ViewData["Message"]</p>
    <p class="alert-danger">@ViewData["Error"]</p>
</div>