
@{
    ViewData["Title"] = "DeleteBatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>@ViewData["Message"]</h4>
    <a asp-action="Index">Back to bids.</a>
</div>

